* {
    box-sizing: border-box;
}

html {
    background: url('../img/bg.jpg') no-repeat center center / cover;
    height: 100%;
    width: 100%;
    font-family: 'Varela Round', sans-serif;
}

body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.window {
    height: 400px;
    width: 600px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.65);
}

.window--chrome {
    height: 32px;
    width: 100%;
    color: white;
    background: black;
    cursor: move;
}

.window--login {
    text-align: center;
    
    input {
        padding: 15px;
        width: 75%;
        font-family: 'Varela Round', sans-serif;
        font-size: 16px;
        
        &:last-child {
            margin-top: 15px;
        }
    }
}

.avatar {
    border-radius: 100%;
}

.start-centered {
    transform: translate3d(-50%,-50%,0);
    top: 50%;
    position: relative;
    left: 50%;
}